.App {
  /* background-attachment: fixed; */
  background-position: center;
  background-color: transparent;
  min-height: 100vh;
}

#wrapper {
  min-height:100%;
 }

.content{
  padding-top:50px;
  min-height:100%;
}

.random{
  color:blue;
}

 .footer-seperator{
  padding: 20px,0px,20px,0px;
} 