
  .wrapper {
    position: relative;
    margin:0;
    padding: 6rem 0 4rem 0 ;
    
    /* display: block;
    
    bottom:0;
    left:0; 
   
    width: 100%;
 
 
    clear:both;
    background-color: red;
    color: white;
    text-align: center; */
   
 }

 .wrapper > .inner {
  margin: 0 auto;
  width: 80rem;
}

#footer {
  height:50px;
  padding: 6rem 0 4rem 0 ;
  background-color: red;
  color: white;
}

 #footer .footer-content {
 
  margin: -2rem 0 0 0;
	padding: 0;
  text-align: center;
   /* An element's margin controls the amount of space between an element's border and surrounding elements. */
    /* margin-top: 30px; */
   /*Clockwise Notation margin: top right bottom left ;*/
  font-size: 2rem;
 
 }

 @media only screen and (width: 1024px) and (height:1366px) {

  .footer {
      
      position: relative;
      bottom:0;
      left:0; 
      margin:0;
      padding: 6rem 0 4rem 0 ;
      width: 100%;
      height: 100px;
      
      clear:both;
      background-color: red;
      color: white;
      text-align: center;
   }

  }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3rem 0 1rem 0 ;
    }

  }

 