.card{
    min-width: 300px;
   
}

.pokemon-data{
    margin: 25px 70px 70px 70px;
}

.individual_card{
    opacity: 0.95;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
    margin: 50px 900px 0 65px;
  
    align-self: center;
    -moz-user-select: none; /* Mozilla-specific values */
    -ms-user-select: none; /* Microsoft-specific values */
    -webkit-user-select: none; /* WebKit-specific values */
    user-select: none; /* Keyword values */
    -o-user-select: none; 
}

@media only screen and (width: 1440px)  {

    .individual_card{
       
        opacity: 0.95;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
        margin: 50px 900px 20px 20px;
        align-self: center;
        -moz-user-select: none; /* Mozilla-specific values */
        -ms-user-select: none; /* Microsoft-specific values */
        -webkit-user-select: none; /* WebKit-specific values */
        user-select: none; /* Keyword values */
        -o-user-select: none; 
    }
}

@media only screen and (width: 1280px)  {

    .card{
        min-width: 200px;
     
    }

    .individual_card{
       
        opacity: 0.95;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
        margin: 80px 900px 20px 55px;
        align-self: center;
        -moz-user-select: none; /* Mozilla-specific values */
        -ms-user-select: none; /* Microsoft-specific values */
        -webkit-user-select: none; /* WebKit-specific values */
        user-select: none; /* Keyword values */
        -o-user-select: none; 
    }
}

@media only screen and (width: 1024px) and (height:1366px) {

    .card{
        min-width: 125px;
     
    }
    h3{ 
        font-size: 15px;
    }

    .individual_card{
        
        opacity: 0.95;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
        margin: 60px 900px 20px 40px;
        align-self: center;
        -moz-user-select: none; /* Mozilla-specific values */
        -ms-user-select: none; /* Microsoft-specific values */
        -webkit-user-select: none; /* WebKit-specific values */
        user-select: none; /* Keyword values */
        -o-user-select: none; 
    }
}

@media only screen and (width: 768px) and (height:1024px) {

    .card{
        min-width: 125px;
     
    }

    h3{ 
        font-size: 15px;
    }

    .individual_card{
        max-width: 125px;
        opacity: 0.95;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
        margin: 80px 200px 20px 30px;
        align-self: center;
        -moz-user-select: none; /* Mozilla-specific values */
        -ms-user-select: none; /* Microsoft-specific values */
        -webkit-user-select: none; /* WebKit-specific values */
        user-select: none; /* Keyword values */
        -o-user-select: none; 
    }
}

@media only screen and (width: 414px) and (height: 736px)  {

    .card{
        min-width: 300px;
        margin: 30px 0 20px -25px;
    }

    .individual_card{
        max-width: 300px;
        opacity: 0.95;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
        margin: 60px 0px 20px 85px;
        align-self: center;
        -moz-user-select: none; /* Mozilla-specific values */
        -ms-user-select: none; /* Microsoft-specific values */
        -webkit-user-select: none; /* WebKit-specific values */
        user-select: none; /* Keyword values */
        -o-user-select: none; 
    }
}

@media only screen and (width: 375px) and (min-height: 667px)  {
     .card{
        margin: 30px 0 20px -45px;
    } 

    .individual_card{
        max-width: 200px;
        opacity: 0.95;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
        margin: 50px 0 20px 100px;
        align-self: center;
        -moz-user-select: none; /* Mozilla-specific values */
        -ms-user-select: none; /* Microsoft-specific values */
        -webkit-user-select: none; /* WebKit-specific values */
        user-select: none; /* Keyword values */
        -o-user-select: none; 
    }
}

@media only screen and (width: 320px) {

    .card{
        margin: 30px 0 20px -75px;
    }

    .individual_card{
        
        opacity: 0.95;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
        margin: 50px 30px 20px 100px;
        align-self: center;
        -moz-user-select: none; /* Mozilla-specific values */
        -ms-user-select: none; /* Microsoft-specific values */
        -webkit-user-select: none; /* WebKit-specific values */
        user-select: none; /* Keyword values */
        -o-user-select: none; 
    } 
}

.link-hover :hover, .link-hover:focus , .link-hover:visited ,.link-hover:link ,.link-hover:active  {
    box-shadow: 0 14px 28px rgba(255,255,255, 0.9), 0 10px 10px rgba(255,255,255, 0.9);
    color:black;
    text-decoration: none;
    
}

